<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>com.ttdk.servlet.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAction</servlet-name>
        <servlet-class>com.ttdk.servlet.LogoutAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhachhangAuto</servlet-name>
        <servlet-class>com.ttdk.servlet.KhachhangAuto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NganChanAuto</servlet-name>
        <servlet-class>com.ttdk.servlet.NganChanAuto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhapdonServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.NhapdonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhapdonAjax</servlet-name>
        <servlet-class>com.ttdk.servlet.NhapdonAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjax</servlet-name>
        <servlet-class>com.ttdk.servlet.SearchAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NganChanAjax</servlet-name>
        <servlet-class>com.ttdk.servlet.NganChanAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VanThuServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.VanThuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchKHAjax</servlet-name>
        <servlet-class>com.ttdk.servlet.SearchKHAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhachHangServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.KhachHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDonAjax</servlet-name>
        <servlet-class>com.ttdk.servlet.LoadDonAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanDonServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.PhanDonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDonServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.SearchDonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraDonServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.TraDonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HieuSuatServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.HieuSuatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThuPhiServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.ThuPhiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSGTServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.CSGTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongKeServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.ThongKeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonChuaCoTKServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.DonChuaCoTKServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterPageRole</servlet-name>
        <servlet-class>com.ttdk.servlet.FilterPageRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SocketServerServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.SocketServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOnlineServlet</servlet-name>
        <servlet-class>com.ttdk.servlet.LoadOnlineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAction</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhachhangAuto</servlet-name>
        <url-pattern>/khachhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NganChanAuto</servlet-name>
        <url-pattern>/nganchan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhapdonServlet</servlet-name>
        <url-pattern>/NhapdonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhapdonAjax</servlet-name>
        <url-pattern>/NhapdonAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjax</servlet-name>
        <url-pattern>/searchnhapdon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NganChanAjax</servlet-name>
        <url-pattern>/nganchanAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VanThuServlet</servlet-name>
        <url-pattern>/vanthu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchKHAjax</servlet-name>
        <url-pattern>/searchkh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhachHangServlet</servlet-name>
        <url-pattern>/khachhangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDonAjax</servlet-name>
        <url-pattern>/LoadDonAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanDonServlet</servlet-name>
        <url-pattern>/PhanDonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDonServlet</servlet-name>
        <url-pattern>/SearchDonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraDonServlet</servlet-name>
        <url-pattern>/TraDonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HieuSuatServlet</servlet-name>
        <url-pattern>/HieuSuatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThuPhiServlet</servlet-name>
        <url-pattern>/thuphiservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSGTServlet</servlet-name>
        <url-pattern>/CSGTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongKeServlet</servlet-name>
        <url-pattern>/thongke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonChuaCoTKServlet</servlet-name>
        <url-pattern>/donchuacotk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterPageRole</servlet-name>
        <url-pattern>/filterrole</url-pattern>
    </servlet-mapping>
    <!-- <listener>  
        <listener-class>
            com.ttdk.servlet.AutoFillDonServlet
        </listener-class>
    </listener> -->
    <servlet-mapping>
        <servlet-name>SocketServerServlet</servlet-name>
        <url-pattern>/sendSocket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOnlineServlet</servlet-name>
        <url-pattern>/LoadOnlineServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
